<!DOCTYPE html>
 




{% block content %}

{% block body %}



 {% include "navigation.html" %}
 {% include "sideBarNav.html" %}
   

      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard <img title ="Refresh" data-toggle="tooltip" data-placement="right" onclick = "reloadAstroTable();" id = "refreshBtn" src="{{ url_for('static', filename='icons/others/refresh.png') }}"> </h1>


            
            

          <div id= "astroTableDiv" class="table-responsive">
            {% include "astros.html" %}
 
          </div>

        </div>

      </div>

    </div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type='text/javascript' src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='bower_components/bootstrap/docs/assets/js/docs.min.js') }}"></script>

{% endblock %}
{% endblock %}

{% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="{{ url_for('static', filename='../../bower_components/bootstrap/docs/assets/ico/favicon.ico') }}">-->


    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../bower_components/bootstrap/docs/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<script type="text/javascript">





  $("#page{{page}}").addClass( "active" );



</script>
            
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
<script type='text/javascript' src="http://maps.google.com/maps/api/js?sensor=false&.js"></script>

  <style type='text/css'>

  body {
  height: 100%;
  width: 100%;
}

.placeholder{
  width: 33%;
}

#refreshBtn{
  width: 5%;
  height: 5%;
}

  html {
  height: 100%;
  width: 80%;
  margin: auto;
}
    #map_canvas {
    width: 70%;
    height: 40%;
    margin: 0 auto;
}

.reportIcons {
  height: 20%;
  width: 10%;
}

table td{
  width: 20%;
  text-align: center;
}



  </style>









 <script type="text/javascript">
$("#refreshAlert").hide();
document.getElementById('searchBox').disabled = false;



       </script>

 
  


<script type='text/javascript'>//<![CDATA[ 
$(function(){
$(function () { 
    $("[data-toggle='tooltip']").tooltip(); 
});
});//]]>  

</script>

<script type='text/javascript'>//<![CDATA[ 
$(function(){
$(function () { 
    $("[data-toggle='modal']").tooltip(); 
});
});//]]>  

</script>
<style type="text/css">

.modal-vertical-centered {
  transform: translate(0, 20%) !important;
  -ms-transform: translate(0, 20%) !important; /* IE 9 */
  -webkit-transform: translate(0, 20%) !important; /* Safari and Chrome */
}
</style>

{% endblock %}










